<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-sm-6 col-md-4">
          <img src="https://avatars0.githubusercontent.com/u/139426?s=200&v=4" class="w-100">
        </div>
        <div class="col-sm-6 col-md-8 px-3" *ngIf="repoDetailsData" >
          <div class="card-block px-3">
            <h4 class="card-title"> {{repoDetailsData.name}}</h4>
            <p class="card-text"> forks : {{repoDetailsData.forks}}</p>
            <p class="card-text"> homepage: {{repoDetailsData.homepage}}</p>
            <p class="card-text"> watchers: {{repoDetailsData.watchers}}</p>
            <p class="card-text"> description: {{repoDetailsData.description}}</p>
            <p class="card-text"> open Issue: {{repoDetailsData.open_issues}}</p>
          </div>
        </div>

      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Contributors in this Repository</li>
      <li class="list-group-item item-hover-state" *ngFor="let contributor of repoContributors " (click)="goToContributor(contributor)">{{contributor}}</li>
    </ul>

    <button type="button" (click)="goToHomePage()" class="btn btn-secondary">Go to Home Page</button>

  </div>
</section>