<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-sm-6 col-md-4">
          <img src="{{selectedUserData.avatar_url}}" class="w-100">
        </div>
        <div class="col-sm-6 col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">{{userLogin}}t</h4>
            <p class="card-text">Name: {{selectedUserData.name}}</p>
            <p class="card-text">Company: {{selectedUserData.company}}</p>
            <p class="card-text">Contact: {{selectedUserData.email}}</p>
            <p class="card-text">Followers {{selectedUserData.followers}}</p>
          </div>
        </div>

      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Contributed In Repositories</li>
      <li class="list-group-item item-hover-state" *ngFor="let repo of reposSelected" (click)="goToRepoDetails(repo)">{{repo}}</li>
    </ul>


    <button type="button" (click)="goToHomePage()" class="btn btn-secondary">Back</button>

  </div>

</section>