.py-5 .card-body {
    padding: 1rem;
} 

.py-5 .card {
    margin-bottom: 10px;
    opacity: .9;
    cursor: pointer;
}

.py-5 .card:hover {
    opacity: 1;
    background-color: lightgray;
}


.py-5 .btn-group {
    padding-bottom:10px
}