<div class="py-5">
  <div class="container" *ngIf="userProfileList">
    <div class="row">
      <div class="btn-group" role="group" style="width:100%">
        <button type="button" class="btn btn-secondary col-md-4" (click)="sortedByFallowers()">Followers</button>
        <button type="button" class="btn btn-secondary col-md-4" (click)="sortedByAmountOfPublicRepo()">Public repo</button>
        <button type="button" class="btn btn-secondary col-md-4" (click)="sortedByAmountOfGist()">Gist</button>
      </div>
    </div>
    <div class="row hidden-md-up">
      <div class="col-sm-6 col-md-4" (click)="selectedUser(user)" *ngFor="let user of userProfileList"> 
        <div class="card" >
          <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{user.login}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!userProfileList">Sorry end of reuest limit in Githup API</div>
</div>